
<h3>Formulaire d'inscription : </h3>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label for="">username</label><br>
    <input type="text" formControlName="username"><br>
    
    <label for="">email</label><br>
    <input type="email" formControlName="email"><br>

    <label for="">password</label><br>
    <input type="password" formControlName="pswd"><br>
    
    <label for="">confirm password</label><br>
    <input type="password" formControlName="confirm"><br>

    <input type="submit" value="submit">
</form>
